NODE_ENV=production
PORT=10000
BASE_URL=
USER_BOT_TOKEN=
ADMIN_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
ADMIN_IDS=
MONGO_URI=
MEM0_API_KEY=
AI_API_KEY=
AI_MODEL=gpt-4o-mini
AI_BASE_URL=https://aicredits.in/v1
TAVILY_API_KEY=
NEWSDATA_API_KEY=
JWT_SECRET=
ENCRYPTION_KEY=
MAX_HISTORY_MESSAGES=12
RATE_LIMIT=20
